:root {
  --font-family-inter: 'Inter', sans-serif;
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imgcover-3 {
  position: absolute;
  left: -73px;
  top: 230px;
  width: 587px;
  height: 689px;
  width: 100%;
  height: auto;
}

.rectangle-1-4 {
  position: absolute;
  left: -2px;
  top: 230px;
  width: 442px;
  height: 726px;
  background-color: rgba(255, 255, 255, 1);
  opacity: 0.550000011920929;
}

.rectangle-5-6 {
  position: absolute;
  left: -1px;
  top: 39px;
  width: 442px;
  height: 191px;
}

.header-5 {
  position: absolute;
  left: -1px;
  top: 39px;
  width: 442px;
  height: 191px;
}

.rectangle-6-8 {
  position: absolute;
  left: -1px;
  top: 364px;
  width: 442px;
  height: 223px;
  background-color: rgba(255, 255, 255, 1);
}

.spectre-1-9 {
  position: absolute;
  left: -45px;
  top: 520px;
  width: 535px;
  height: 88px;
  width: 100%;
  height: auto;
}

.rectangle-2-10 {
  position: absolute;
  left: -0.34130859375px;
  top: 722px;
  width: 445.6826477050781px;
  height: 234px;
}

.spectre-7 {
  position: absolute;
  left: -45px;
  top: 364px;
  width: 535px;
  height: 592px;
}

.vector-13 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 80px;
  height: 80px;
}

.facirclepause-12 {
  position: absolute;
  left: 187px;
  top: 794px;
  width: 80px;
  height: 80px;
}

.vector-15 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 32px;
  height: 32px;
}

.facirclechevronleft-14 {
  position: absolute;
  left: 46px;
  top: 818px;
  width: 32px;
  height: 32px;
}

.vector-17 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 32px;
  height: 32px;
}

.facirclechevronright-16 {
  position: absolute;
  left: 374px;
  top: 818px;
  width: 32px;
  height: 32px;
}

.vector-19 {
  position: absolute;
  left: 1px;
  top: -0.000006198883056640625px;
  width: 29.001562118530273px;
  height: 28.003124237060547px;
}

.faarrowleftrotate-18 {
  position: absolute;
  left: 113px;
  top: 820px;
  width: 32px;
  height: 32px;
}

.vector-21 {
  position: absolute;
  left: 1.9984374046325684px;
  top: 1.9984374046325684px;
  width: 29.001562118530273px;
  height: 28.003124237060547px;
}

.faarrowrightrotate-20 {
  position: absolute;
  left: 305px;
  top: 818px;
  width: 32px;
  height: 32px;
}

.lecteur-11 {
  position: absolute;
  left: 46px;
  top: 794px;
  width: 360px;
  height: 80px;
}

.text-22 {
  position: absolute;
  left: -2px;
  top: 153px;
  width: 440px;
  height: 57px;
  font-size: 32px;
  font-family: var(--font-family-inter);
  font-weight: bold;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.union-27 {
  position: absolute;
  left: 401px;
  top: 17.33333396911621px;
  width: 24.32803726196289px;
  height: 11.333333015441895px;
  opacity: 0.4000000059604645;
}

.capacity-28 {
  position: absolute;
  left: 403px;
  top: 19.33333384990692px;
  width: 18px;
  height: 7.333333492279053px;
  background-color: rgba(51, 51, 51, 1);
  border-radius: 1.3333333730697632px;
}

.battery-26 {
  position: absolute;
  left: 401px;
  top: 17.33333396911621px;
  width: 24.32803726196289px;
  height: 11.333333015441895px;
}

.wifi-29 {
  position: absolute;
  left: 380.6953125px;
  top: 17.33056640625px;
  width: 15.27237606048584px;
  height: 10.965571403503418px;
}

.cellular-30 {
  position: absolute;
  left: 358.66796875px;
  top: 17.666748046875px;
  width: 17px;
  height: 10.666666984558105px;
}

.text-31 {
  position: absolute;
  left: 34px;
  top: 16px;
  width: 29px;
  height: 17px;
  font-size: 14px;
  font-family: var(--font-family-inter);
  font-weight: bold;
  text-align: center;
  color: rgba(51, 51, 51, 1);
}

.node-25 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 440px;
  height: 44px;
}

.node-24 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 440px;
  height: 44px;
}

.node-23 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 440px;
  height: 44px;
}

.ellipse-1-34 {
  position: absolute;
  left: 349px;
  top: 0px;
  width: 50px;
  height: 50px;
}

.add-33 {
  position: absolute;
  left: 349px;
  top: 0px;
  width: 50px;
  height: 50px;
}

.ellipse-1-36 {
  position: absolute;
  left: 288px;
  top: 0px;
  width: 50px;
  height: 50px;
}

.vector-38 {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 28px;
  height: 28px;
}

.fasharealt-37 {
  position: absolute;
  left: 295px;
  top: 8px;
  width: 32px;
  height: 32px;
}

.share-35 {
  position: absolute;
  left: 288px;
  top: 0px;
  width: 50px;
  height: 50px;
}

.ellipse-1-40 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
}

.vector-41 {
  position: absolute;
  left: 9px;
  top: 13px;
  width: 32px;
  height: 24.004384994506836px;
}

.back-39 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
}

.vector-42 {
  position: absolute;
  left: 362px;
  top: 10px;
  width: 24px;
  height: 32px;
}

.ctatop-32 {
  position: absolute;
  left: 18px;
  top: 70px;
  width: 399px;
  height: 50px;
}

.text-44 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 154px;
  height: 30px;
  font-size: 22px;
  font-family: var(--font-family-inter);
  font-weight: normal;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.h1-43 {
  position: absolute;
  left: 141px;
  top: 79px;
  width: 154px;
  height: 30px;
}

.audiobook-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 440px;
  height: 956px;
  background-color: rgba(255, 255, 255, 1);
}

.audiobook-1 {
  position: absolute;
  left: 1460px;
  top: 2529px;
  width: 440px;
  height: 956px;
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 1);
}
